// Login Page Styling
#login{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .position-relative;
    @extend .text-center;
    background-image: url('../assets/bg-2.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    .default-bg{
        @extend .background;
        color: #505050;
    }

    .login-box{
        max-width: 960px;
        margin: 0 auto;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color:#fff;

        > .bg-img{
            padding: 0;
            border-radius: 10px 0 0 10px;
            //background: rgba(0, 0,0, 0.04) url(http://localhost:3000/static/media/bg_img.0b3c570c.jpg) top left repeat;
            background-image: url("../assets/bg_img.jpg");
            background-size: cover;
            top:0;
            bottom: 0;
            opacity: 1;
        }

        .info{
            
            height: 450px;
            position: relative;

            > .logo{
                text-align: left;
                margin: 20px;

                > .nav-brand{
                    font-size: 22px;
                    @extend .font-bold;
                    color: #505050;
                }
            }

            > .btn-section{
                position: absolute;
                top: 40%;
                right: 0;
                margin-bottom: 0;

                .link-btn{
                    font-size: 12px;
                    @extend .font-bold;
                }

                .link-btn.active{
                    background-color: #ff214f;
                    color: #fff;
                }

                > .btn-primary{
                    @extend .text-center;
                    line-height: 30px;
                    width: 100px;
                    text-transform: uppercase;
                    border-radius: 50px 0 0 50px;
                    margin-bottom: 15px;
                    border: none;
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                }

            }

        }
    }

    /* login form styling */
    .form-section{
        @extend .text-center;
        max-width: 400px;
        margin: 0 auto;
        @extend .width-100;

        > .title{
            margin: 10px 0 50px 0;

            > h3{
                font-size: 25px;
                @extend .font-bold;
                color: #505050;
            }
        }

        .login-inner-form{
            @extend .position-relative;
            color: #979797;

            .form-box{
                float: right;
                @extend .width-100;
                @extend .position-relative;

                // importing icons
                .icon{
                    position: absolute;
                    right: 25px;
                    top: 10px;
                }
                .icon.email::before{
                    @extend .font-awesome;
                    content: "\f0e0";
                }
                .icon.lock::before{
                    @extend .font-awesome;
                    @extend .font-bold;
                    content: "\f023";
                }

                .icon.user::before{
                    @extend .font-awesome;
                    content: "\f007";
                }

                // style input textbox
                > .input-text{
                    font-size: 14px;
                    outline: none;
                    color: #616161;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    @extend .background;
                    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
                    padding: 11px 45px 11px 20px;
                    @extend .width-100;
                    margin-bottom: 10px;
                }

            }

            .primary-btn{
                background: #ff214f;
                @extend .width-100;
                border: none;
                color: #fff;
                box-shadow: 0 0 5px rgba(0,0,0, 0.2);
                padding: 10px 30px 9px 30px;
                cursor: pointer;
                height: 45px;
                border-radius: 50px;
                margin-top: 20px;

                &:hover{
                    background: #d61d42;
                }
            }

            .error-log{
                display: inline;
                padding: 2px 10px;
                background-color: #ff0033;
                border-radius: 40px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

                > button{
                  background: transparent;
                  border: none;
                  color: #fff;
                  font-size: 13px;
                }

                .error::before {
                   @extend .font-awesome;
                   @extend .font-bold;
                    content: "\f188";
                }

            }

        }

    }


}