<%-include('include/_header')%>

<main id="site-main">
    <div class="conatiner">
        <div class="box-nav d-flex justify-between">
            <div  class="filter">
                <a style="padding:80px;" href="/"><i class="fas fa-angle-double-left"></i>
                    All Users
                </a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Create new account</span>
        </div>
        <%-include('include/_form')%>
    </div>
</main>

<%-include('include/_footer')%>