<%- include('include/_header') %>
<div class="form-title text-center">
    <h2 class="text-dark">Update User</h2>
</div><br/><br/>
<button >Go Back</button>
<form id="update_user" method="post" autocomplete="off">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-dark">Name</label>
            <input type="text" name="name" value="" placeholder="Enter Name">
            
        </div>


        <div class="form-group">
            <label for="Email" class="text-dark">Email</label>
            
            <input type="text" name="email" value="" placeholder="Enter Email">
            
        </div>

        <div class="form-group">
            <label for="gender" class="radio-label">Gender</label>
            <div class="radio inline">
                <input type="radio" name="gender" id="gender-m" value="Male" />
                <label for="gender-m" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" name="gender" id="gender-f" value="Male"/>
                <label for="gender-f" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="text-dark">Ph. No.</label>
            <input type="tel" name="phone" pattern="[0-9]{10}">
            
        </div>

        <div class="form-group">
            <label for="ID" class="text-dark">ID &nbsp &nbsp &nbsp &nbsp</label>
            <input type="number"class="text-dark" name="ID">
            
        </div>
        <br/>
        <div class="form-group">
            <button type="submit" class="btn text-dark" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;"><b>Save</b></button>
        </div>
       
    </div>

</form>
<%- include('include/_footer') %>